:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --white-logo-color: #ffffff;
  --primary-bg-color: #2f303a;
  --white-bg-color: #ffffff;
  --accent-bg-color: #f5f4fa;
  --accent-bg-button: #f5f4fa;
  --footer-text-accent: rgba(255, 255, 255, 0.6);
  --primary-icon-fill: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-duration: 250ms;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: var(--white-bg-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none; /* Убираем маркеры */
}

.link {
  text-decoration: none;
  font-style: normal;
}
/* =============== COMPONENTS ===============*/
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-accent {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.838;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

/* =============== END COMPONENTS ===============*/

/* =============== HEADER ===============*/

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;

  color: var(--black-logo-color);
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-address:not(:last-child) {
  margin-right: 50px;
}

.header-address {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav-link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}

.current,
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: '';

  background-color: var(--accent-color);

  width: 100%;
  height: 4px;
  border-radius: 2px;
}

/* общие css переходы для всех классов в header у которых есть ховер и фокус  */
.header-nav-link,
.header-address,
.header-icon {
  transition: color var(--timing-duration) var(--timing-function),
    fill var(--timing-duration) var(--timing-function);
}

.header-address {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-address:hover,
.header-address:focus {
  color: var(--accent-color);
}

.header-address:hover .header-icon,
.header-address:focus .header-icon {
  fill: var(--accent-color);
}

.header-icon {
  margin-right: 10px;

  fill: var(--primary-text-color);
  cursor: pointer;
}

.header-address-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =============== END HEADER ===============*/

/* =============== HERO ===============*/
.hero {
  min-height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 200px;

  background-color: var(--primary-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.hero-btn {
  min-width: 200px;
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  border: none;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);

  cursor: pointer;
}

/* =============== END HERO ===============*/

/* =============== SECTION BENEFITS ===============*/
.benefits {
  padding-bottom: 94px;
  padding-top: 94px;
}
.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.benefits-text {
  min-width: 270px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.benefits-icon {
  padding: 25px 100px 25px 100px;
  margin-bottom: 30px;
  background-color: var(--accent-bg-color);
}
/* =============== END SECTION BENEFITS ===============*/

/* =============== SECTION SERVICES ===============*/

.list-services {
  display: flex;
  justify-content: space-between;
}

.services {
  padding-bottom: 94px;
}

.thumb-services {
  position: relative;
}

.services-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 27px 0;
  text-align: center;

  background: rgba(47, 48, 58, 0.5);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
/* =============== END SECTION SERVICES ===============*/

/* =============== SECTION TEAM ===============*/
.team {
  padding-bottom: 94px;
  padding-top: 94px;

  background-color: var(--accent-bg-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-img {
  margin-bottom: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-bg-color);
  padding-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.team-text {
  margin-bottom: 16px;

  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}
.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.team-social-list-link:hover,
.team-social-list-link:focus {
  background-color: var(--accent-color);
}

.team-social-list-link:hover .icon-team,
.team-social-list-link:focus .icon-team {
  fill: var(--white-text-color);
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.icon-team {
  fill: var(--primary-icon-fill);
}
/* =============== END SECTION TEAM ===============*/

/* =============== SECTION CLIENTS ===============*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients-list-item {
  display: flex;
  justify-content: center;
  text-align: center;
}

.clients-list-link {
  display: flex;
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
}

.icon-services {
  fill: var(--primary-icon-fill);
  margin: auto;
}

.clients-list-link:hover .icon-services,
.clients-list-link:focus .icon-services {
  fill: var(--accent-color);
}

/* =============== END SECTION CLIENTS ===============*/

/* =============== FOOTER ===============*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primary-bg-color);
}

.logo-footer {
  color: var(--white-logo-color);
}

.footer-text-address {
  margin-bottom: 9px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--white-text-color);
}

.footer-address:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--footer-text-accent);
}

.call-to-action {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
}
.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-item {
  display: flex;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-address-wrapper {
  margin-right: 156px;
}

.icon-footer {
  fill: var(--white-text-color);
}

/* =============== END FOOTER ===============*/

/* =============== PORTFOLIO SECTION ===============*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-item-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-item-card {
  margin: 15px;
  width: calc((100% - 90px) / 3);
  /* width: calc((100% - 60px) / 3); техника 2 если нужен фон */
  /* .portfolio-item-card:not(:nth-child(3n)) {
  margin-right: 30px;
.portfolio-item-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} техника 2 если нужен фон */
}

.portfolio-item-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-btn {
  min-width: 73px;
  padding: 6px 22px 6px 22px;
  border: none;

  cursor: pointer;

  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: var(--accent-bg-button);
}

.portfolio-btn:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.portfolio-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.wrapper-card-description {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}
.logo-footer {
  margin-bottom: 20px;
  display: block;
}

/* =============== END PORTFOLIO SECTION ===============*/
